{% extends "layout.html" %} 
{% block content %}

<div class="container">
    <h1>Generate and Publish</h1>
    <h1><span>Dynamic</span> QR Codes</h1>

    <p>QRGen is a dynamic QR Code generator. 
        it allows users to <br> easily create QR codes
        for sharing or embedding on their websites
    </p>

    <div class="container-box">
        <button>Get Started</button>

    </div>
</div>


 <div class="url_box">
    <h2></h2>
    <form action="/generate" method="POST">
        <input type="text" name="url" class="text" placeholder="Enter Your websites URL" />
        <input type="submit" class="btn-submit" />
    </form>

 </div>




{% endblock %}

