<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" >
    {% if title %}
    <title>QRGen - {{ title }} </title>
    {% else %}
       <title>{{ QRGen }} </title>
    {% endif %}
</head>
<body>
        <!-- nav bar-->
        <nav class="navbar">
            <ul>
                <li class="navbar-logo">QRGen</li>
                <li class="navbar-toggle">=</li>
                <li class="navbar-links"><a href="/">Home</a></li>
                <li class="navbar-links"><a href="/">Generate</a></li>
                <li class="navbar-links"><a href="/decode">Decode</a></li>
                <li class="navbar-links"><a href="#">Contact</a></li>
    
             
    
                
            </ul>
        </nav>
    {% block content %}


    {% endblock %}

    <footer>
        &copy QRGen 2022  || Created by ehuntober
     </footer>

<script src="{{ url_for('static' ,filename='index.js')}}"> 
</script>
</body>
</html>